html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    font-family:  Helvetica, Arial, sans-serif;
    min-height: 740px;

    background: rgb(50, 50, 50);
    background: -webkit-gradient(radial, 50% 50%, 0, 50% 50%, 500, from(rgb(200, 200, 200)), to(rgb(150, 150, 150)));
    background: -webkit-radial-gradient(rgb(200, 200, 200), rgb(150, 150, 150));
    background:    -moz-radial-gradient(rgb(200, 200, 200), rgb(150, 150, 150));
    background:     -ms-radial-gradient(rgb(200, 200, 200), rgb(150, 150, 150));
    background:      -o-radial-gradient(rgb(200, 200, 200), rgb(150, 150, 150));
    background:         radial-gradient(rgb(200, 200, 200), rgb(150, 150, 150));
}


.impress-supported .fallback-message {
    display: none;
}

/*
    Now let's style the presentation steps.

    We start with basics to make sure it displays correctly in everywhere ...
*/

.step {
    position: relative;
    width: 900px;
    padding: 40px;
    margin: 20px auto;

    -webkit-box-sizing: border-box;
    -moz-box-sizing:    border-box;
    -ms-box-sizing:     border-box;
    -o-box-sizing:      border-box;
    box-sizing:         border-box;

    font-family: 'Bodoni SvtyTwo ITC TT', georgia, serif;
    font-size: 48px;
    line-height: 1.5;
}

/*
    ... and we enhance the styles for impress.js.

    Basically we remove the margin and make inactive steps a little bit transparent.
*/
.impress-enabled .step {
    margin: 0;
	border: 0;
    opacity: 0.1;

    -webkit-transition: opacity 1s;
    -moz-transition:    opacity 1s;
    -ms-transition:     opacity 1s;
    -o-transition:      opacity 1s;
    transition:         opacity 1s;
}

.impress-enabled .step.active, .impress-on-o .step { opacity: 1 }

/*
    These 'slide' step styles were heavily inspired by HTML5 Slides:
    http://html5slides.googlecode.com/svn/trunk/styles.css

    ;)

    They cover everything what you see on first three steps of the demo.
*/
.slide, .box {
    display: block;

    width: 900px;
    height: 700px;
    padding: 40px 60px;

    background-color: white;
    border: 1px solid rgba(0, 0, 0, .3);
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, .1);

    color: rgb(102, 102, 102);
    text-shadow: 0 2px 2px rgba(0, 0, 0, .1);

    font-size: 30px;
    line-height: 36px;
    letter-spacing: -1px;
}

.slide h1, .slide h2, .slide pre, .slide q {
    display: table-cell;
	vertical-align: middle;
	height: 620px;
	width: 780px;
	text-align: center;
    line-height: 1.2em;
}

.slide h1 {
    font-size: 80px;
	font-weight: bold;
}

.slide h2 {
	font-size: 75px;
}

.slide q {
	font-style: italic;
	font-size: 70px;
}
.slide q:before {
	content: '“';
}
.slide q:after {
	content: '” ';
}

.slide q strong {
    white-space: nowrap;
}

.slide footer {
	margin-bottom: 50px;
}

.slide strike {
	opacity: 0.5;
	display: none;
}

.slide pre {
	text-align: left;
	font-family: monospace;
	color: #000000;
	font-size: 18px;
	text-shadow: none;
}

.slide span.heart {
	color: red;
}

.slide pre .Type { color: #b58900; }
.slide pre .Constant { color: #2aa198; }
.slide pre .Identifier { color: #268bd2; }
.slide pre .Statement { color: #719e07; }
.slide pre .PreProc { color: #cb4b16; }
.slide pre .Special { color: #dc322f; }
.slide strong { font-style: italic; font-weight: bold; }

.slide.high-code pre { color: rgba(0, 0, 0, 0.2); }
.slide.high-code pre .Type { color: rgba(181, 137, 0, 0.2) }
.slide.high-code pre .Constant { color: rgba(42, 161, 152, 0.2) }
.slide.high-code pre .Identifier { color: rgba(38, 139, 210, 0.2); }
.slide.high-code pre .Statement { color: rgba(113, 158, 7, 0.2); }
.slide.high-code pre .PreProc { color: rgba(203, 75, 22, 0.2); }
.slide.high-code pre .Special { color: rgba(220, 50, 47, 0.2); }

.slide.high-code pre em { color: rgba(0, 0, 0, 1.0); }
.slide.high-code pre em .Type { color: rgba(181, 137, 0, 1.0) }
.slide.high-code pre em .Constant { color: rgba(42, 161, 152, 1.0) }
.slide.high-code pre em .Identifier { color: rgba(38, 139, 210, 1.0); }
.slide.high-code pre em .Statement { color: rgba(113, 158, 7, 1.0); }
.slide.high-code pre em .PreProc { color: rgba(203, 75, 22, 1.0); }
.slide.high-code pre em .Special { color: rgba(220, 50, 47, 1.0); }


#q h1 {
	font-size: 500px;
}

.slide.half {
	width: 450px;
}

